* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {    
    background-color: #ffffff;
    width: 428px;
    height: 80px;  
}

.imgtopo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;     
}

.banner {    
    background-image: url('./img/fundobanner.png');
    width: 428px;
    height: 1023px;
}

.conteudo-banner {
    display: flex;
    flex-direction: column;
    width: 428px;
    height: 1023px;
    align-items: center;
    justify-content: center;
    
}


.conteudo-banner h1 {
    color: #E51B3E;
    font-weight: 900;
    font-size: 72px;
    max-width: 90%;
    
   
}

.conteudo-p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    max-width: 90%;
    padding-bottom: 25px;
}

.botaoExplorar {
    width: 320px;
    height: 70px;
    background: rgba(51, 187, 105, 0.05);
    border: 1px solid #33BB69;
    border-radius: 12px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.grade-filmes {
    background-color: #ffffff;
    
}

.grade-filmes h1 {
    font-size: 64px;
    font-weight: 900;
    margin: 20px;
}
