* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;    
}

html,
body {
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
        .cabeca {    
            background-color: #ffffff;
            width: 100%;
            height: 80px; 
            position: fixed; 
        }

        li:hover {
            text-decoration: none;
             border-radius: 10px;
            -moz-transform: scale(1.3);
            -webkit-transform: scale(1.3);
            transform: scale(1.4); 
          }

        a:link {
            text-decoration: none;
            color: inherit;
        }

        .botao {
            visibility: hidden;
        }

        .lista-menu {
            display: flex;
            justify-content: space-around;
            list-style: none;
            gap: 30px;
            font-weight:bold;
            font-size: 19px;
            color: #171717;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

        .imgtopo {
            margin: 0 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .home {
        color:red;
        }

        h1 {
            font-weight: 900;
            font-size: 64px;
        }

.movies {
    display: inline-block;
    padding: 0 40px;
    justify-content: center;   
}

.trailer {
    text-align: center;
    width: 100%;
    font-size: 20px;
    
}

.youtube {    
    display: flex;  
    justify-content: center; 
    margin-bottom: 20px; 
    width: 100%;       
}

.diretor-escritor{
    margin-top: 20px;
    display: flex;
    gap: 200px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

}

.resumo {
    display: flex;
    text-align: justify;
    width: 90%;
    justify-content: center;
    margin-top: 10px;
}

.assistentes{
    display: flex;
    gap: 171px;
    color: rgba(0, 133, 255, 0.75);

}

.filmesCard {
    width: 100%;
    height: 100vh !important;
}
  

#rodape {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    height: 300px;
    background: #171717;
    justify-content: space-around;
}
        
            .nomes{
                color: white;
                margin-left: 50px;
                margin-top: 40px;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
            }
            
            .dev {
                color: rgba(255, 255, 255, 0.75);
                margin-left: 50px;
                margin-top: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
            .linked{    
                margin-left: 50px;
                margin-right: 5px;
                margin-top: 10px;
            }

            
            
            .rodape-1 {
                color: rgba(255, 255, 255, 0.5);
                margin-top: 30px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                width: 100vw;
            }
            
            a:link {
                text-decoration: none;
            }
    
            
            
            .foto {
                display: flex;    
            }
            
            .foto img {    
                height: 80px;
                width: 80px;
                border-radius: 50px;
                margin-left: 140px;
                margin-top:-15px;
            }
            .movies p {
                padding: 10px 20px;
            }